<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: headerfiles"></div>
    <title>listado proyectos</title>

</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>
    <div class="container">
        <h1>Sistema gestor de proyectos</h1>
        <div class="row">
            <div class="col-3 border">
                <h2><a href="/proyectos">Proyectos</a></h2>
                <div class="row" th:each="proyecto:${listaProyectos}">
                    <div class="col-4" th:text="${proyecto.nombre}"></div>
                </div>
            </div>

            <div class="col-3">
                <h2 class="text-primary">Clientes</h2>
                <div class="row" th:each="cliente:${listaClientes}">
                    <div class="col-4 text-primary" th:text="${cliente.empresa}"></div>
                </div>
            </div>

            <div class="col-3">
                <h2 class="text-success">Consultores</h2>
                <div class="row" th:each="consultor:${listaUsuarios}">
                    <div class="col-4 text-success" th:text="${consultor.nombre}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>