<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="fragments/general :: headerfiles"></div>
  <title th:text="${proyecto.nombre}"></title>
</head>
<body>
  <div th:replace="~{fragments/general :: navbar}"></div>
  <div class="container">
    <h1>Proyecto: <span th:text="${proyecto.nombre}"></span></h1>
    <div class="row">
      <div class="col-3">
        <h3>Cliente</h3>
        <p th:text="${proyecto.cliente.empresa}"></p>
      </div>
      <div class="col-3">
        <h3>Consultor</h3>
        <p th:text="${proyecto.consultor.nombre}"></p>
      </div>

    </div>
    <h2>Tareas</h2>
    <div class="row" th:each="tarea:${listaTareas}">
      <div class="col-3" th:text="${tarea.nombre}"></div>
      <div class="col-2" th:text="${tarea.responsable.nombre}"></div>
      <div class="col-2" th:text="${tarea.fechaInicio}"></div>
      <div class="col-2" th:text="${tarea.fechaFin}"></div>
    </div>
  </div>
</body>
</html>