<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: headerfiles"></div>
    <title>listado proyectos</title>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>
    <div class="container">
        <div class="row">
            <div class="col-4"><h3>Proyecto</h3></div>
            <div class="col-3"><h3>Cliente</h3></div>
            <div class="col-3"><h3>Consultor</h3></div>

        </div>
        <div class="row" th:each="proyecto:${listaProyectos}">
            <div class="col-4"><a th:href="'/proyecto/' + ${proyecto.id}" th:text="${proyecto.nombre}"></a></div>
            <div class="col-3" th:text="${proyecto.cliente.empresa}"></div>
            <div class="col-3" th:text="${proyecto.consultor.nombre}"></div>
        </div>
    </div>
</body>
</html>